/*Search bar designs*/
#ESearch{-moz-border-radius: 15px;border-radius: 15px;border:solid 2.5px #8E2B2B; padding:5px;width: 400px;}

#MSearch{-moz-border-radius: 15px;border-radius: 15px;border:solid 2.5px #8E2B2B; padding:5px;width: 400px;}

#TSearch{-moz-border-radius: 15px;border-radius: 15px;border:solid 2.5px #8E2B2B; padding:5px;width: 400px;}

#GSearch{-moz-border-radius: 15px;border-radius: 15px;border:solid 2.5px #8E2B2B; padding:5px;width: 400px;}
